.nav {
  box-shadow: 0px 0.3px 6px #2563eb !important;
}

.nav-logo {
  width: 3em;
}

.nav-btn-cekjasa,
.nav-btn-about,
.nav-btn-adminlogin {
  border: 2px solid #2563eb !important;
  border-radius: 14px !important;
  padding: 0.5em 1.2em !important;
  color: #2563eb !important;
  transition: background-color 0.8s, color 0.3s !important;
}

.nav-btn-cekjasa:hover,
.nav-btn-about:hover,
.nav-btn-adminlogin:hover {
  background-color: #2563eb !important;
  color: white !important;
}

#container-cart-jasa {
  max-height: 34.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#tooltip-close-button {
  font-size: 2.2em;
  cursor: pointer;
}

#tooltip-nama-jasa {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
